.app {
  a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }

  .user_style {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
  }

  .album_style {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
    }
  }
}
