table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;

  tr {
    overflow-x: scroll;
  }

  th,
  td {
    padding: 15px 15px;
    vertical-align: middle;

    img {
      width: 15px;
      height: 15px;
      margin: auto;
    }

    .image_heading {
      display: flex;
    }
  }

  thead tr th {
    padding: 15px 15px;
    border: 1px solid transparent;
    text-align: left;
  }

  tbody {
    max-width: 100%;
  }
}

tbody tr:nth-child(odd) {
  background: #f0f0f2;
}
tbody tr:hover {
  background: #f0f0f2;
}
