.archive {
  .user_style {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
  }

  .albums_style {
    display: flex;
    flex-direction: column;

    .pictures_row {
      display: flex;
      flex-wrap: wrap;

      .picture_cell {
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 200px;
      }
    }
    .album_style {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
